Django>=5.1,<6.0
gunicorn
whitenoise
dj-database-url
python-dotenv
requests
django-allauth
celery
redis
django-celery-beat
psycopg2-binary>=2.9.10
channels
channels-redis
uvicorn
PyJWT
cryptography
PyJWT>=2.8.0