{% extends "base.html" %}
{% block title %}註冊{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card p-4">
      <h4 class="mb-3 text-center">📝 註冊帳號</h4>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary">註冊</button>
        </div>
      </form>

      <div class="text-center mt-3">
        <a href="{% url 'login' %}">已有帳號？登入</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
