from django.utils import timezone
from .models import Game

def game_list(request):
    now = timezone.now()

    upcoming = (
        Game.objects.select_related("home_team", "away_team")
        .filter(status=1, start_time_utc__gte=now)
        .order_by("start_time_utc")[:50]
    )

    recent = (
        Game.objects.select_related("home_team", "away_team")
        .filter(status=3)
        .order_by("-start_time_utc")[:50]
    
    return render(request, "games/game_list.html", {"upcoming": upcoming, "recent": recent})
